.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.margin-top {
  margin-top: 10px;
}

.red{
  color:red;
  font-weight: bold;
  padding: 5px 10px;
}

.blue{
  color:blue;
  font-weight: bold;
  padding: 5px 10px;
}

.bloc-channels{
  display: inline-block;
  margin-top:10px;
  margin-right: 10px;
}

.div_scroll{
  display: block;
  height: 100px;
  overflow: scroll;
}

.channel-container h3, .channel-container h4{
  margin:5px;
  padding:5px;
}

.channel-container h4{
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
}

.channel-container h5{
  font-weight: normal;
  text-decoration: underline;
}

.channelPurple{
  color: #660066;
}

.channelBlue{
  color: #468499;
}

.message-container {
  margin-top:10px;
  width: 100%;
  text-align: left;
  display: block;
  height: 150px;
  overflow: scroll;
}

.chatSendMsg{
  height: 50px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.chatSendMsg form {
  display: flex;
  width: 100%;
}

.chatSendMsg input {
  flex: 1 0;
}

.chatSendMsg button {
  height: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #222;
  color: white;
  border: none;
  -webkit-appearance: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
