export TWITTER_KEY="<YOUR_API_KEY>"
export TWITTER_SECRET="<YOU_API_SECRET>"

export TWITTER_ACCESS_URL="<YOUR_ACCESS_URL>"
export TWITTER_ACCESS_TOKEN="<YOUR_ACCESS_TOKEN>"
export TWITTER_ACCESS_SECRET="<YOUR_ACCESS_SECRET>"
export TWITTER_REQUEST_URL="<YOUR_REQUEST_URL>"

export WATSON_KEY="<YOUR_API_KEY>"
export WATSON_URL="<YOUR_URL>"
export WATSON_USERNAME="<YOUR_USERNAME>"
